{% extends 'base_admin.html.twig' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>connexion</h1>
                        <form role="form"  method="post" id="login-form" >
                            <div class="form-group">
                                <label for="email" class="sr-only"  >Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" name="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
