{% extends 'base_admin.html.twig' %}

{% block content %}
    <form action="" method="post">
        <input type="file">
        <input type="submit" id="btn-login" class="btn btn-primary" name="valid" value="Valider">
    </form>
{% endblock %}
