<div class="top-bar">
    <button type="button" class="btn btn-primary">
        <a href="/admin/logout" style="color: white">déconnexion</a>
    </button>
    <a href="/admin/menu">Menu</a>
    <a href="/admin/compte">changer mes coordonnées</a>

</div>
