<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="S&Kitchen, votre chef à domicile dans le Vaucluse pour vos festivités, repas, buffets, évènements... Découvrez les saveurs d'une cuisine asiatique revisitée ou traditionnelle. Sandra Nguyen, votre chef S&K, vous propose également des cours de cuisine à domicile dans le vaucluse et ses environs.">
        <meta name="keywords" content="Chef à domicile, Chef à domicile vaucluse, cours de cuisine, cours de cuisine vaucluse, s and k, s&k, s and kitchen, s&kitchen, s & kitchen, cuisine asiatique, cuisine asiatique vaucluse, traiteur, traiteur vaucluse, cours particuliers cuisine, avignon, carpentras, l'isle sur la sorgue, pernes les fontaines, Vaucluse, Luberon, gordes, Cavaillon, luberon, saint remy de provence, cuisine asiatique a domicile, traiteur asiatique luberon." />
        <title>
            S & Kitchen - Chef à domicile dans le Vaucluse & Cours de cuisine - S AND K la cuisine asiatique à domicile
        </title>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="../asset/css/home.css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
